<div class="jumbotron jumbotron-fluid text-center">
    <div class="overlay"></div>
    <div class="caption">
        <h1 class="display-4">Mongo Scraper</h1>
        <p class="lead">CNN News</p>
    </div>
    <div class="background-image"></div>
</div>